.Avatar-Component-Selector-Main {
    display: grid;
    /* grid-template-columns is set programatically in the index.js file */
    height: 100%;
    margin-bottom: 5px;
}

.Colour-Selector-Section {
    display: grid;
    grid-template-rows: 100%;
    /* grid-template-columns is set programatically in the index.js file */
}

.Option-List {
    background-color: #34b9c6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}