.Canvas-Wrapper {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    height: 100%;
    justify-content: center;
}

.Canvas {
    width: 500px;
    height: 500px;
}

.Svgs {
    display: none;
}