.App {
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 10vh 15vh 75vh;
  grid-template-areas: 'header header' 'canvas selector1' 'canvas selector2' 'canvas selector3' 'canvas selector4' 'canvas selector5' 'canvas selector6';
  background-color:powderblue;
}

.App-Header {
  grid-area: header;
  background-color: palevioletred;
}

.Avatar-Canvas {
  grid-area: canvas;
}