.Colour-Selector {
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 100%;
}

.Colour-Selector:hover {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.Colour-Selector-Clicked {
    border-style: solid;
    border-width: 2px;
    height: 100%;
}

.Colour-Selector-Clicked > div {
    left: -30%;
    position: relative;
    top: 6vh;
}